*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    list-style: none;
}

a{

}

header{
    height: 70px;
    background-color: whitesmoke;
    color: gray;
    line-height: 70px;
    padding: 0px 30px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
}


.header-menu{
    position: relative;
    left: 10px;
}